

#left_dim {
  flex: 6.5;
}

#right-dim {
  flex: 3;
}

#right-div {
  padding: 1em;
  line-height: 0%;
}

#io {
  border-radius: 4px;
  width: 100%;
  height: auto;

  min-width: 175px;
}

#maindiv {
  display: flex;
  align-items: stretch;
  gap: 2vw;
}

#hr-bar {
  display: none;
}

@media (max-width:641px)  {
  #maindiv {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
  }

  #right-div {
    overflow: hidden;
    padding: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 3.5em;

    /*text-align: center;*/
  }
  
  #io {
    display: block;
    width: 100%;
    scale: 1.3;
  }

  #hr-bar {
    display: inline;
    width: 100%;
    border-width: 1px;
    margin-top: 0;
    color: rgb(211, 211, 211);
  }
}