.pub {
    display: flex;
    align-items: stretch;
    gap: 2vw;
    padding: 1em;
    height: 16vh;
}

.pub-img {
    flex: 1;
    line-height: 0%;
    display: block;
    margin-top: 2vh;
    margin-left: 2.5em;
}

.pub-content {
    flex: 5.5;
    margin: 0.35em 0;
}

.pub-logo {
    width: auto;
    height: 12vh;
}

.pub-content-category {
    color: black;
    margin-left: 0.3em;
    margin-right: 0.5em;
    font-weight: 400;
    font-size: 0.95em;
}

.pub-box {
    border-width: 3px;
}
