.pub {
    display: flex;
    align-items: stretch;
    gap: 2vw;
    padding: 1em;
}

.pub-img {
    line-height: 0%;
    margin-top: 2vh;
    margin-left: 2.5em;

    flex: 1;
}

.pub-content {
    margin: 0.35em 0;

    flex: 5.5;
}

.pub-logo {
    width: auto;
    height: 7em;

    margin-bottom: 0.5em;
    margin-left: 0.15em;
}

.pub-content-category {
    color: black;
    margin-left: 0.3em;
    margin-right: 0.5em;
    font-weight: 400;
    font-size: 0.95em;
}

.pub-box {
    border-width: 3px;
}
