.pub {
    display: flex;
    align-items: stretch;
    gap: 1em;
    padding: 1.5em;
    margin-bottom: 1em;
}

.pub-img {
    line-height: 0%;
    margin-top: 2vh;
    margin-left: 1em;

    text-align: center;

    min-width: 200px;

    flex: 1;
}

.pub-content {
    margin: 0.35em  0;

    flex: 8;
}

.pub-logo {
    width: auto;
    height: 7em;

    margin-bottom: 0.5em;
    margin-left: -1em;
}

.pub-content-category {
    color: black;
    margin-left: 0.3em;
    margin-right: 0.5em;
    font-weight: 400;
    font-size: 0.95em;
}

.pub-box {
    border-width: 3px;
}

.sep {
    display: none;
}

@media (max-width:1101px)  {

    .pub-img {
        display: none;
    }
}

@media (max-width:641px) {

    .sep {
        display: block;
        width: 100%;
        border-width: 1px;
        margin-top: 0;
        color: rgb(211, 211, 211);
    }

    .pub-content-date-container {
        display: none;
    }
}