
.bar {
  background-color:  rgba(21, 23, 104, 0.979);
  /*box-shadow: 0px 2px 10px 1px rgba(21, 48, 148, .7);*/
  overflow: hidden;
  padding: 0 13vw 0 0;

  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #11235c;
  margin-bottom: 2vh;
}

.link {
  float: right;
  text-align: center;
  padding: 7px 6px;
  margin: 10px 14px;
  font-size: 17px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-family: "Roboto Serif", serif;
}

.link:hover {
  border: 0px;
  background-color:  #04144f;
}

.current {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}
