
.duck-div {
    position: relative;
    height: 150px;

    display: flex;
    transition: margin 14.4s;
    transition-timing-function: linear;
}

.duck-left {
    margin-left: 5vw;
}

.duck-right {
    margin-left: 50vw;
}

.duck  {
    position: absolute;
    bottom: 0;

    height: 140px;
    width: 140px;
}


#duck-phone {
    display: none;
}

@media (max-width:641px)  {

    .duck-left {
        margin-left: -80vw;
    }

    .duck-right {
        margin-left: 20vw;
    }

    .duck-div {
        background-color: yellow;
        margin-top: 1.5em;
        transition: margin 7.2s;
        transition-timing-function: linear;
    }

    .duck {
        height: 130px;
        width: 130px;
    }

    #duck-laptop {
        display: none;
    }

    #duck-phone {
        display: inline;
    }
}