
.talk-show {
  max-height: 1000px !important;
}

.talk {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s linear;

  display: grid;
  column-gap: 2%;
  grid-template-columns: 57% 41%;
}

.talk-left-dim {
  padding-top: 1.25em;
  height: 100%;
}

.talk-right-dim {
  padding-top: 1.25em;
  height: 100%;
}

.talk-content {
  font-size: 1.1em;
  color: black;
  font-weight: 600;
  font-style: italic;
}

.talk-section {
  margin: 0.15em;
}

#talk-header-div {
  display: grid;
  grid-template-columns: 80% 15%;
  column-gap: 5%;
  width: 100%;

  margin: 0.6em 0 0.9em 0;
}

.talk-header-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.talk-header-button {
  border-radius: 15px;
  border-width: 0px;

  height: 100%;
  width: 6em;
  max-width: 100%;
  max-height: 2.5em;

  margin: 0;

  background-color: white;
}

.talk-header-button:hover {
  background-color: rgb(211, 218, 251);
}

.talk-header-button-clicked {
  background-color: rgb(211, 218, 251) !important;
}

.talk-header-button-clicked:hover {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(211, 218, 251);
  outline: none;
  background-color: white !important;
}

.talk-header-button-clicked:active {
  border-style: outset;
  border-style: solid;
}

.talk-header-button-icon {
  margin-top: 0.25em;
  color: rgb(2, 0, 131);
  width: 1.25em;
  height: 1.25em;
}

#talk-pdf {
  height: 100%
}

#talk-slide-link {
  display: none;
}

#talk-hyplink-par {
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (max-width:1101px)  {

  .talk-show {
    display: block;
  }

  .talk {
    grid-template-columns: 100%;
  }

  #talk-pdf {
    display: none;
  }

  #talk-slide-link {
    display: block;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
  }
}

@media (max-width:641px)  {

  #talk-slide-link {
    display: block;
    margin-top: 0.75em;
    margin-bottom: 1.5em;
  }

  #talk-header-div  {
    grid-template-columns: 75% 20%;
  }

  .talk-section {
    margin: 0 0 0.1em 0;
  }


  .talk-box {
    padding: 0.2em 0.5em 0.5em 0.5em !important;
  }

}