
.talk {
  display: grid;
  column-gap: 2%;
  grid-template-columns: 57% 41%;

  margin-top: 2em;
}

.talk-left-dim {
  flex: 5;

  height: 100%;
}

.talk-right-dim {
  flex: 3.5;

  height: 100%;
}

#talk-title {
  font-size: 1em;
  color: black;
  font-weight: 600;
}

.talk-content {
  font-size: 1.1em;
  color: black;
  font-weight: 600;
  font-style: italic;
}

.talk-section {
  margin: 0.15em;
}

#talk-header {
  margin-bottom: 1em;
}

#talk-pdf {
  height: 100%
}

#talk-slide-link {
  display: none;
}

#talk-hyplink-par {
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (max-width:1101px)  {

  .talk {
    display: block;

    margin-top: 0em;
  }

  #talk-pdf {
    display: none;
  }

  #talk-slide-link {
    display: block;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
  }
}

@media (max-width:641px)  {

  #talk-slide-link {
    display: block;
    margin-top: 0.75em;
    margin-bottom: 1.5em;
  }
}