@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body {
    margin: 0;
}

.main {
    margin-left:auto;
    margin-right:auto;
    width: 65vw;

    /*the line below assures that all the pages have a maximum width they can stretch*/
    max-width: 1300px;
}
  
.box {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: rgba(68, 68, 68, 0.5);
    margin-bottom: 3vh;
    padding: 1.6em 1.6em 1.2em 1.6em;
    background-color: white;
}

.button {
    color: rgb(2, 0, 131);
    cursor: pointer;
    font-size: 1.1em;

    font-family:  Nunito, Inter, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-decoration: underline;
}

.sep {
    display: none;
}

.title {
    margin: 2em 0 0.5em 0;
}

p {
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 0.25em;
}

h1 {
    font-size: 2.1em;
    font-weight: 800;
    margin: 0;
}

h2 {
    font-size: 1.9em;
    font-weight: 700;
    margin: 0 0 0.3em 0;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0.2em 0;
}

p, h1, h2, h3 {
    font-family:  Nunito, Inter, Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3 {
    color: rgba(12, 21, 104, 0.979);
}

.hyplink {
    text-decoration: underline;
    font-weight: normal;
    font-size: 0.95em;
}

.hyplink:link {
    color: rgb(2, 0, 131);
}

.hyplink:visited {
    color: rgb(2, 0, 131);
}

.hyplink:hover {
    color: red;
}

#hr-bar {
  display: none;
}

@media (max-width:641px)  {

    h1, h2 {
        text-align: center;
    }

    h1 {
        font-size: 1.9em;
    }

    h2 {
        font-size: 1.8em;
        margin-top: 0.5em;
    }

    h3 {
        font-size: 1.4em;
    }

    p {
        font-size: 1.2em;
    }

    .main {
        width: 93%;
    }

    #main-about-div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .title {
        margin-top: 3em;
    }

    .box {
        border-style: hidden;
        padding: 1.4em 0.5em 0 0.5em;
        margin-bottom: 0;
    }

    .sep {
        display: block;
        width: 100%;
        border-width: 1px;
        margin-top: 0;
        margin-bottom: 1em;
        color: rgb(211, 211, 211);
    }

    #hr-bar {
        display: inline;
        width: 100%;
        border-width: 1px;
        margin-top: 0;
        color: rgb(211, 211, 211);
    }
    
}