#cont-box {
    padding-top: 0.5em;
}

#cont-div-linkedin {
    display: inline-flex;
    align-items: flex-start;
    gap: 0.4vw;
    margin-top: 0.8em;
}

#linkedInIcon {
    width: 25px;
    height: 25px;
}

#cont-par-linkedin {
    margin: 0;
}

@media (max-width:641px)  {

    #contact-title {
        margin-top: 3em;
    }
}